In [89]:
import json
import pandas as pd
import random
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np

In [90]:
LOG_DATA_PATH = "data\\final_user-actions_dummy.json"

# 중첩 구조 평탄화해서 읽기
with open(LOG_DATA_PATH, "r", encoding="utf-8") as f:
    data = json.load(f)
    # data = [json.loads(line.strip()) for line in f if line.strip()]  # .jsonl일 때 읽어오는 방법
    
df = pd.json_normalize(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   event                 100 non-null    object
 1   userId                100 non-null    object
 2   username              100 non-null    object
 3   timestamp             100 non-null    object
 4   workspaceId           100 non-null    int64
 5   details.participants  100 non-null    object
 6   details.state         100 non-null    object
 7   details.name          100 non-null    object
 8   details.importance    100 non-null    int64
 9   details.startDate     47 non-null     object
 10  details.endDate       47 non-null     object
dtypes: int64(2), object(9)
memory usage: 8.7+ KB

In [91]:
# ✅ participants 기반으로 user-task 복제
df = df.explode('details.participants')
df['participant_userId'] = df['details.participants'].apply(lambda x: x.get('userId') if isinstance(x, dict) else None)

# ✅ 필요한 필드만 정리
df = df[[
    'participant_userId',  # 이게 진짜 기준
    'details.state',
    'details.importance',
    'details.startDate',
    'details.endDate'
]]

df = df.dropna(subset=['participant_userId'])

# ✅ userId별로 분리
user_dfs = {}
for uid in df['participant_userId'].unique():
    user_dfs[f'df_{uid}'] = df[df['participant_userId'] == uid].copy()

In [92]:
user_dfs

{'df_3':     participant_userId details.state  details.importance  \
 0                    3   IN_PROGRESS                   1
 6                    3        BEFORE                   1
 8                    3          DONE                   3
 10                   3        BEFORE                   3
 11                   3          DONE                   5
 13                   3   IN_PROGRESS                   4
 15                   3   IN_PROGRESS                   1
 16                   3          DONE                   5
 17                   3        BEFORE                   5
 19                   3        BEFORE                   4
 21                   3          DONE                   5
 23                   3        BEFORE                   5
 24                   3          DONE                   2
 26                   3        BEFORE                   4
 27                   3          DONE                   2
 28                   3          DONE                   1
 29                   3          DONE                   5
 30                   3          DONE                   1
 31                   3        BEFORE                   4
 32                   3   IN_PROGRESS                   4
 33                   3        BEFORE                   1
 34                   3        BEFORE                   1
 36                   3        BEFORE                   5
 37                   3          DONE                   1
 39                   3          DONE                   2
 40                   3        BEFORE                   5
 41                   3          DONE                   1
 42                   3        BEFORE                   5
 44                   3        BEFORE                   1
 45                   3          DONE                   5
 47                   3          DONE                   4
 49                   3          DONE                   3
 52                   3        BEFORE                   3
 53                   3          DONE                   5
 55                   3          DONE                   3
 56                   3        BEFORE                   5
 59                   3        BEFORE                   2
 61                   3        BEFORE                   2
 65                   3   IN_PROGRESS                   4
 67                   3          DONE                   4
 69                   3        BEFORE                   1
 70                   3        BEFORE                   3
 71                   3          DONE                   5
 72                   3        BEFORE                   1
 74                   3          DONE                   2
 75                   3          DONE                   5
 77                   3        BEFORE                   3
 78                   3          DONE                   4
 79                   3          DONE                   3
 84                   3          DONE                   3
 88                   3        BEFORE                   2
 89                   3          DONE                   1
 91                   3        BEFORE                   4
 92                   3          DONE                   2
 95                   3   IN_PROGRESS                   5
 96                   3          DONE                   5
 99                   3        BEFORE                   2

              details.startDate             details.endDate
 0                         None                        None
 6                         None                        None
 8   2025-06-04T06:09:44.072653  2025-06-11T06:09:44.072653
 10                        None                        None
 11  2025-06-05T06:09:44.072701  2025-06-12T06:09:44.072701
 13                        None                        None
 15                        None                        None
 16  2025-06-11T06:09:44.072806  2025-06-16T06:09:44.072806
 17                        None                        None
 19                        None                        None
 21  2025-06-08T06:09:44.072910  2025-06-14T06:09:44.072910
 23                        None                        None
 24  2025-06-12T06:09:44.072956  2025-06-16T06:09:44.072956
 26                        None                        None
 27  2025-06-11T06:09:44.073003  2025-06-14T06:09:44.073003
 28  2025-05-28T06:09:44.073019  2025-06-12T06:09:44.073019
 29  2025-06-08T06:09:44.073036  2025-06-13T06:09:44.073036
 30  2025-06-06T06:09:44.073049  2025-06-11T06:09:44.073049
 31                        None                        None
 32                        None                        None
 33                        None                        None
 34                        None                        None
 36                        None                        None
 37  2025-06-07T06:09:44.073152  2025-06-14T06:09:44.073152
 39  2025-06-06T06:09:44.073183  2025-06-12T06:09:44.073183
 40                        None                        None
 41  2025-06-11T06:09:44.073227  2025-06-15T06:09:44.073227
 42                        None                        None
 44                        None                        None
 45  2025-06-08T06:09:44.073277  2025-06-11T06:09:44.073277
 47  2025-06-09T06:09:44.073305  2025-06-13T06:09:44.073305
 49  2025-06-07T06:09:44.073331  2025-06-10T06:09:44.073331
 52                        None                        None
 53  2025-06-12T06:09:44.073417  2025-06-16T06:09:44.073417
 55  2025-06-06T06:09:44.073453  2025-06-13T06:09:44.073453
 56                        None                        None
 59                        None                        None
 61                        None                        None
 65                        None                        None
 67  2025-06-07T06:09:44.073612  2025-06-11T06:09:44.073612
 69                        None                        None
 70                        None                        None
 71  2025-06-08T06:09:44.073667  2025-06-12T06:09:44.073667
 72                        None                        None
 74  2025-06-07T06:09:44.073781  2025-06-11T06:09:44.073781
 75  2025-05-30T06:09:44.073800  2025-06-14T06:09:44.073800
 77                        None                        None
 78  2025-06-05T06:09:44.073886  2025-06-11T06:09:44.073886
 79  2025-06-11T06:09:44.073902  2025-06-16T06:09:44.073902
 84  2025-05-30T06:09:44.073992  2025-06-14T06:09:44.073992
 88                        None                        None
 89  2025-06-06T06:09:44.074063  2025-06-13T06:09:44.074063
 91                        None                        None
 92  2025-06-06T06:09:44.074107  2025-06-13T06:09:44.074107
 95                        None                        None
 96  2025-06-07T06:09:44.074168  2025-06-12T06:09:44.074168
 99                        None                        None  ,
 'df_5':     participant_userId details.state  details.importance  \
 0                    5   IN_PROGRESS                   1
 1                    5          DONE                   1
 4                    5        BEFORE                   5
 9                    5        BEFORE                   2
 10                   5        BEFORE                   3
 ..                 ...           ...                 ...
 94                   5          DONE                   1
 95                   5   IN_PROGRESS                   5
 96                   5          DONE                   5
 98                   5          DONE                   2
 99                   5        BEFORE                   2

              details.startDate             details.endDate
 0                         None                        None
 1   2025-06-12T03:09:44.072507  2025-06-12T06:09:44.072507
 4                         None                        None
 9                         None                        None
 10                        None                        None
 ..                         ...                         ...
 94  2025-06-11T01:09:44.074137  2025-06-11T06:09:44.074137
 95                        None                        None
 96  2025-06-07T06:09:44.074168  2025-06-12T06:09:44.074168
 98  2025-06-04T06:09:44.074195  2025-06-10T06:09:44.074195
 99                        None                        None

 [66 rows x 5 columns],
 'df_1':     participant_userId details.state  details.importance  \
 1                    1          DONE                   1
 2                    1          DONE                   2
 13                   1   IN_PROGRESS                   4
 14                   1          DONE                   2
 16                   1          DONE                   5
 17                   1        BEFORE                   5
 19                   1        BEFORE                   4
 20                   1          DONE                   5
 23                   1        BEFORE                   5
 25                   1          DONE                   2
 26                   1        BEFORE                   4
 27                   1          DONE                   2
 28                   1          DONE                   1
 29                   1          DONE                   5
 33                   1        BEFORE                   1
 34                   1        BEFORE                   1
 37                   1          DONE                   1
 39                   1          DONE                   2
 40                   1        BEFORE                   5
 41                   1          DONE                   1
 42                   1        BEFORE                   5
 44                   1        BEFORE                   1
 46                   1          DONE                   4
 50                   1        BEFORE                   3
 51                   1          DONE                   5
 52                   1        BEFORE                   3
 53                   1          DONE                   5
 54                   1        BEFORE                   1
 55                   1          DONE                   3
 56                   1        BEFORE                   5
 57                   1          DONE                   2
 61                   1        BEFORE                   2
 65                   1   IN_PROGRESS                   4
 67                   1          DONE                   4
 69                   1        BEFORE                   1
 71                   1          DONE                   5
 72                   1        BEFORE                   1
 74                   1          DONE                   2
 75                   1          DONE                   5
 78                   1          DONE                   4
 81                   1          DONE                   4
 83                   1        BEFORE                   2
 85                   1        BEFORE                   4
 86                   1        BEFORE                   4
 89                   1          DONE                   1
 91                   1        BEFORE                   4
 92                   1          DONE                   2
 93                   1          DONE                   5
 94                   1          DONE                   1
 95                   1   IN_PROGRESS                   5
 96                   1          DONE                   5
 97                   1   IN_PROGRESS                   1
 98                   1          DONE                   2
 99                   1        BEFORE                   2

              details.startDate             details.endDate
 1   2025-06-12T03:09:44.072507  2025-06-12T06:09:44.072507
 2   2025-06-07T06:09:44.072540  2025-06-10T06:09:44.072540
 13                        None                        None
 14  2025-05-31T06:09:44.072750  2025-06-15T06:09:44.072750
 16  2025-06-11T06:09:44.072806  2025-06-16T06:09:44.072806
 17                        None                        None
 19                        None                        None
 20  2025-06-11T06:09:44.072895  2025-06-15T06:09:44.072895
 23                        None                        None
 25  2025-06-06T06:09:44.072970  2025-06-13T06:09:44.072970
 26                        None                        None
 27  2025-06-11T06:09:44.073003  2025-06-14T06:09:44.073003
 28  2025-05-28T06:09:44.073019  2025-06-12T06:09:44.073019
 29  2025-06-08T06:09:44.073036  2025-06-13T06:09:44.073036
 33                        None                        None
 34                        None                        None
 37  2025-06-07T06:09:44.073152  2025-06-14T06:09:44.073152
 39  2025-06-06T06:09:44.073183  2025-06-12T06:09:44.073183
 40                        None                        None
 41  2025-06-11T06:09:44.073227  2025-06-15T06:09:44.073227
 42                        None                        None
 44                        None                        None
 46  2025-06-07T06:09:44.073291  2025-06-13T06:09:44.073291
 50                        None                        None
 51  2025-06-08T06:09:44.073371  2025-06-11T06:09:44.073371
 52                        None                        None
 53  2025-06-12T06:09:44.073417  2025-06-16T06:09:44.073417
 54                        None                        None
 55  2025-06-06T06:09:44.073453  2025-06-13T06:09:44.073453
 56                        None                        None
 57  2025-06-05T06:09:44.073481  2025-06-10T06:09:44.073481
 61                        None                        None
 65                        None                        None
 67  2025-06-07T06:09:44.073612  2025-06-11T06:09:44.073612
 69                        None                        None
 71  2025-06-08T06:09:44.073667  2025-06-12T06:09:44.073667
 72                        None                        None
 74  2025-06-07T06:09:44.073781  2025-06-11T06:09:44.073781
 75  2025-05-30T06:09:44.073800  2025-06-14T06:09:44.073800
 78  2025-06-05T06:09:44.073886  2025-06-11T06:09:44.073886
 81  2025-06-12T03:09:44.073942  2025-06-12T06:09:44.073942
 83                        None                        None
 85                        None                        None
 86                        None                        None
 89  2025-06-06T06:09:44.074063  2025-06-13T06:09:44.074063
 91                        None                        None
 92  2025-06-06T06:09:44.074107  2025-06-13T06:09:44.074107
 93  2025-06-10T06:09:44.074123  2025-06-13T06:09:44.074123
 94  2025-06-11T01:09:44.074137  2025-06-11T06:09:44.074137
 95                        None                        None
 96  2025-06-07T06:09:44.074168  2025-06-12T06:09:44.074168
 97                        None                        None
 98  2025-06-04T06:09:44.074195  2025-06-10T06:09:44.074195
 99                        None                        None  ,
 'df_2':     participant_userId details.state  details.importance  \
 1                    2          DONE                   1
 3                    2        BEFORE                   3
 4                    2        BEFORE                   5
 5                    2        BEFORE                   5
 6                    2        BEFORE                   1
 ..                 ...           ...                 ...
 92                   2          DONE                   2
 93                   2          DONE                   5
 97                   2   IN_PROGRESS                   1
 98                   2          DONE                   2
 99                   2        BEFORE                   2

              details.startDate             details.endDate
 1   2025-06-12T03:09:44.072507  2025-06-12T06:09:44.072507
 3                         None                        None
 4                         None                        None
 5                         None                        None
 6                         None                        None
 ..                         ...                         ...
 92  2025-06-06T06:09:44.074107  2025-06-13T06:09:44.074107
 93  2025-06-10T06:09:44.074123  2025-06-13T06:09:44.074123
 97                        None                        None
 98  2025-06-04T06:09:44.074195  2025-06-10T06:09:44.074195
 99                        None                        None

 [65 rows x 5 columns],
 'df_4':     participant_userId details.state  details.importance  \
 1                    4          DONE                   1
 2                    4          DONE                   2
 3                    4        BEFORE                   3
 4                    4        BEFORE                   5
 8                    4          DONE                   3
 ..                 ...           ...                 ...
 92                   4          DONE                   2
 94                   4          DONE                   1
 95                   4   IN_PROGRESS                   5
 96                   4          DONE                   5
 98                   4          DONE                   2

              details.startDate             details.endDate
 1   2025-06-12T03:09:44.072507  2025-06-12T06:09:44.072507
 2   2025-06-07T06:09:44.072540  2025-06-10T06:09:44.072540
 3                         None                        None
 4                         None                        None
 8   2025-06-04T06:09:44.072653  2025-06-11T06:09:44.072653
 ..                         ...                         ...
 92  2025-06-06T06:09:44.074107  2025-06-13T06:09:44.074107
 94  2025-06-11T01:09:44.074137  2025-06-11T06:09:44.074137
 95                        None                        None
 96  2025-06-07T06:09:44.074168  2025-06-12T06:09:44.074168
 98  2025-06-04T06:09:44.074195  2025-06-10T06:09:44.074195

 [62 rows x 5 columns]}

In [93]:
df['participant_userId'].unique()

array([3, 5, 1, 2, 4])

In [94]:
# # 유저별 df 분리
# user_dfs = {}

# for id in df['participant_userId'].unique():
#     user_dfs[f'df_{id}'] = df[df['participant_userId'] == id]

In [95]:
user_dfs.keys()

dict_keys(['df_3', 'df_5', 'df_1', 'df_2', 'df_4'])

In [96]:
user_dfs['df_3']  # test

,participant_userId,details.state,details.importance,details.startDate,details.endDate
0,3,IN_PROGRESS,1,None,None
6,3,BEFORE,1,None,None
8,3,DONE,3,2025-06-04T06:09:44.072653,2025-06-11T06:09:44.072653
10,3,BEFORE,3,None,None
11,3,DONE,5,2025-06-05T06:09:44.072701,2025-06-12T06:09:44.072701
13,3,IN_PROGRESS,4,None,None
15,3,IN_PROGRESS,1,None,None
16,3,DONE,5,2025-06-11T06:09:44.072806,2025-06-16T06:09:44.072806
17,3,BEFORE,5,None,None
19,3,BEFORE,4,None,None
21,3,DONE,5,2025-06-08T06:09:44.072910,2025-06-14T06:09:44.072910
23,3,BEFORE,5,None,None
24,3,DONE,2,2025-06-12T06:09:44.072956,2025-06-16T06:09:44.072956
26,3,BEFORE,4,None,None
27,3,DONE,2,2025-06-11T06:09:44.073003,2025-06-14T06:09:44.073003
28,3,DONE,1,2025-05-28T06:09:44.073019,2025-06-12T06:09:44.073019
29,3,DONE,5,2025-06-08T06:09:44.073036,2025-06-13T06:09:44.073036
30,3,DONE,1,2025-06-06T06:09:44.073049,2025-06-11T06:09:44.073049
31,3,BEFORE,4,None,None
32,3,IN_PROGRESS,4,None,None
33,3,BEFORE,1,None,None
34,3,BEFORE,1,None,None
36,3,BEFORE,5,None,None
37,3,DONE,1,2025-06-07T06:09:44.073152,2025-06-14T06:09:44.073152
39,3,DONE,2,2025-06-06T06:09:44.073183,2025-06-12T06:09:44.073183
40,3,BEFORE,5,None,None
41,3,DONE,1,2025-06-11T06:09:44.073227,2025-06-15T06:09:44.073227
42,3,BEFORE,5,None,None
44,3,BEFORE,1,None,None
45,3,DONE,5,2025-06-08T06:09:44.073277,2025-06-11T06:09:44.073277
47,3,DONE,4,2025-06-09T06:09:44.073305,2025-06-13T06:09:44.073305
49,3,DONE,3,2025-06-07T06:09:44.073331,2025-06-10T06:09:44.073331
52,3,BEFORE,3,None,None
53,3,DONE,5,2025-06-12T06:09:44.073417,2025-06-16T06:09:44.073417
55,3,DONE,3,2025-06-06T06:09:44.073453,2025-06-13T06:09:44.073453
56,3,BEFORE,5,None,None
59,3,BEFORE,2,None,None
61,3,BEFORE,2,None,None
65,3,IN_PROGRESS,4,None,None
67,3,DONE,4,2025-06-07T06:09:44.073612,2025-06-11T06:09:44.073612
69,3,BEFORE,1,None,None
70,3,BEFORE,3,None,None
71,3,DONE,5,2025-06-08T06:09:44.073667,2025-06-12T06:09:44.073667
72,3,BEFORE,1,None,None
74,3,DONE,2,2025-06-07T06:09:44.073781,2025-06-11T06:09:44.073781
75,3,DONE,5,2025-05-30T06:09:44.073800,2025-06-14T06:09:44.073800
77,3,BEFORE,3,None,None
78,3,DONE,4,2025-06-05T06:09:44.073886,2025-06-11T06:09:44.073886
79,3,DONE,3,2025-06-11T06:09:44.073902,2025-06-16T06:09:44.073902
84,3,DONE,3,2025-05-30T06:09:44.073992,2025-06-14T06:09:44.073992
88,3,BEFORE,2,None,None
89,3,DONE,1,2025-06-06T06:09:44.074063,2025-06-13T06:09:44.074063
91,3,BEFORE,4,None,None
92,3,DONE,2,2025-06-06T06:09:44.074107,2025-06-13T06:09:44.074107
95,3,IN_PROGRESS,5,None,None
96,3,DONE,5,2025-06-07T06:09:44.074168,2025-06-12T06:09:44.074168
99,3,BEFORE,2,None,None

In [97]:
# id 리스트 생성
id_list = df['participant_userId'].unique().astype(int)
id_list

array([3, 5, 1, 2, 4])

In [98]:
# state, importance 기준 grouping -> count 목적
group_list = {}

for i, (name, user_df) in enumerate(user_dfs.items(), start=1):
    group_list[f'grouped{i}'] = (user_df.groupby(['participant_userId', 'details.state', 'details.importance']).size().reset_index(name='count'))

In [99]:
group_list.keys()

dict_keys(['grouped1', 'grouped2', 'grouped3', 'grouped4', 'grouped5'])

In [100]:
group_list['grouped1']

    participant_userId details.state  details.importance  count
0                    3        BEFORE                   1      6
1                    3        BEFORE                   2      4
2                    3        BEFORE                   3      4
3                    3        BEFORE                   4      4
4                    3        BEFORE                   5      6
5                    3          DONE                   1      5
6                    3          DONE                   2      5
7                    3          DONE                   3      5
8                    3          DONE                   4      3
9                    3          DONE                   5      9
10                   3   IN_PROGRESS                   1      2
11                   3   IN_PROGRESS                   4      3
12                   3   IN_PROGRESS                   5      1

In [101]:
for name, gr in group_list.items():
    json_temp = gr.to_dict(orient='records')

    # with open(f"data\\stat1-{name}.json", "w", encoding="utf-8") as f:
    #     json.dump(json_temp, f, ensure_ascii=False, indent=2)

In [111]:
print(type(group_list))
group_list

<class 'dict'>

{'grouped1':     participant_userId details.state  details.importance  count
 0                    3        BEFORE                   1      6
 1                    3        BEFORE                   2      4
 2                    3        BEFORE                   3      4
 3                    3        BEFORE                   4      4
 4                    3        BEFORE                   5      6
 5                    3          DONE                   1      5
 6                    3          DONE                   2      5
 7                    3          DONE                   3      5
 8                    3          DONE                   4      3
 9                    3          DONE                   5      9
 10                   3   IN_PROGRESS                   1      2
 11                   3   IN_PROGRESS                   4      3
 12                   3   IN_PROGRESS                   5      1,
 'grouped2':     participant_userId details.state  details.importance  count
 0                    5        BEFORE                   1      6
 1                    5        BEFORE                   2      5
 2                    5        BEFORE                   3      5
 3                    5        BEFORE                   4      8
 4                    5        BEFORE                   5      8
 5                    5          DONE                   1      7
 6                    5          DONE                   2      6
 7                    5          DONE                   3      3
 8                    5          DONE                   4      3
 9                    5          DONE                   5     12
 10                   5   IN_PROGRESS                   1      2
 11                   5   IN_PROGRESS                   5      1,
 'grouped3':     participant_userId details.state  details.importance  count
 0                    1        BEFORE                   1      6
 1                    1        BEFORE                   2      3
 2                    1        BEFORE                   3      2
 3                    1        BEFORE                   4      5
 4                    1        BEFORE                   5      5
 5                    1          DONE                   1      6
 6                    1          DONE                   2      9
 7                    1          DONE                   3      1
 8                    1          DONE                   4      4
 9                    1          DONE                   5      9
 10                   1   IN_PROGRESS                   1      1
 11                   1   IN_PROGRESS                   4      2
 12                   1   IN_PROGRESS                   5      1,
 'grouped4':     participant_userId details.state  details.importance  count
 0                    2        BEFORE                   1      4
 1                    2        BEFORE                   2      6
 2                    2        BEFORE                   3      7
 3                    2        BEFORE                   4      5
 4                    2        BEFORE                   5      7
 5                    2          DONE                   1      4
 6                    2          DONE                   2      9
 7                    2          DONE                   3      5
 8                    2          DONE                   4      3
 9                    2          DONE                   5     12
 10                   2   IN_PROGRESS                   1      2
 11                   2   IN_PROGRESS                   4      1,
 'grouped5':     participant_userId details.state  details.importance  count
 0                    4        BEFORE                   1      5
 1                    4        BEFORE                   2      1
 2                    4        BEFORE                   3      8
 3                    4        BEFORE                   4      7
 4                    4        BEFORE                   5      6
 5                    4          DONE                   1      7
 6                    4          DONE                   2      8
 7                    4          DONE                   3      3
 8                    4          DONE                   4      6
 9                    4          DONE                   5      8
 10                   4   IN_PROGRESS                   1      1
 11                   4   IN_PROGRESS                   4      1
 12                   4   IN_PROGRESS                   5      1}

In [102]:
### stat 2
filtered_users = {}

for name, df in user_dfs.items():
    filtered = df[df['details.state'] == 'DONE'][
        ['participant_userId', 'details.state', 'details.importance', 'details.startDate', 'details.endDate']
    ]
    filtered_users[name] = filtered

In [103]:
filtered_users.keys()

dict_keys(['df_3', 'df_5', 'df_1', 'df_2', 'df_4'])

In [104]:
filtered_users['df_3']

,participant_userId,details.state,details.importance,details.startDate,details.endDate
8,3,DONE,3,2025-06-04T06:09:44.072653,2025-06-11T06:09:44.072653
11,3,DONE,5,2025-06-05T06:09:44.072701,2025-06-12T06:09:44.072701
16,3,DONE,5,2025-06-11T06:09:44.072806,2025-06-16T06:09:44.072806
21,3,DONE,5,2025-06-08T06:09:44.072910,2025-06-14T06:09:44.072910
24,3,DONE,2,2025-06-12T06:09:44.072956,2025-06-16T06:09:44.072956
27,3,DONE,2,2025-06-11T06:09:44.073003,2025-06-14T06:09:44.073003
28,3,DONE,1,2025-05-28T06:09:44.073019,2025-06-12T06:09:44.073019
29,3,DONE,5,2025-06-08T06:09:44.073036,2025-06-13T06:09:44.073036
30,3,DONE,1,2025-06-06T06:09:44.073049,2025-06-11T06:09:44.073049
37,3,DONE,1,2025-06-07T06:09:44.073152,2025-06-14T06:09:44.073152
39,3,DONE,2,2025-06-06T06:09:44.073183,2025-06-12T06:09:44.073183
41,3,DONE,1,2025-06-11T06:09:44.073227,2025-06-15T06:09:44.073227
45,3,DONE,5,2025-06-08T06:09:44.073277,2025-06-11T06:09:44.073277
47,3,DONE,4,2025-06-09T06:09:44.073305,2025-06-13T06:09:44.073305
49,3,DONE,3,2025-06-07T06:09:44.073331,2025-06-10T06:09:44.073331
53,3,DONE,5,2025-06-12T06:09:44.073417,2025-06-16T06:09:44.073417
55,3,DONE,3,2025-06-06T06:09:44.073453,2025-06-13T06:09:44.073453
67,3,DONE,4,2025-06-07T06:09:44.073612,2025-06-11T06:09:44.073612
71,3,DONE,5,2025-06-08T06:09:44.073667,2025-06-12T06:09:44.073667
74,3,DONE,2,2025-06-07T06:09:44.073781,2025-06-11T06:09:44.073781
75,3,DONE,5,2025-05-30T06:09:44.073800,2025-06-14T06:09:44.073800
78,3,DONE,4,2025-06-05T06:09:44.073886,2025-06-11T06:09:44.073886
79,3,DONE,3,2025-06-11T06:09:44.073902,2025-06-16T06:09:44.073902
84,3,DONE,3,2025-05-30T06:09:44.073992,2025-06-14T06:09:44.073992
89,3,DONE,1,2025-06-06T06:09:44.074063,2025-06-13T06:09:44.074063
92,3,DONE,2,2025-06-06T06:09:44.074107,2025-06-13T06:09:44.074107
96,3,DONE,5,2025-06-07T06:09:44.074168,2025-06-12T06:09:44.074168

In [105]:
for name, df in filtered_users.items():
    # 날짜형 변환
    df['details.startDate'] = pd.to_datetime(df['details.startDate'], utc=True)
    df['details.endDate'] = pd.to_datetime(df['details.endDate'], utc=True)

    # 소요 시간 계산 (시간 단위)
    df['duration_hours'] = (df['details.endDate'] - df['details.startDate']).dt.total_seconds() / 3600

    # 컬럽 drop
    df = df[['participant_userId', 'details.importance', 'duration_hours']]

    # 평균 계산
    df = df.groupby(['participant_userId', 'details.importance'])['duration_hours'].mean().reset_index(name='mean_hours')

    # 딕셔너리 업데이트
    filtered_users[name] = df

In [106]:
filtered_users['df_3']

   participant_userId  details.importance  mean_hours
0                   3                   1       182.4
1                   3                   2       115.2
2                   3                   3       177.6
3                   3                   4       112.0
4                   3                   5       144.0

In [ ]:
for name, fdf in filtered_users.items():
    json_temp = fdf.to_dict(orient='records')

    # 파일로 저장
    # with open(f"data\\stat2-{name}.json", "w", encoding="utf-8") as f:
    #     for item in json_temp:  # data는 List[Dict]
    #         json_line = json.dumps(item, ensure_ascii=False)
    #         f.write(json_line + "\n")
    #         # json.dump(json_temp, f, ensure_ascii=False, indent=2)

{'df_3':    participant_userId  details.importance  mean_hours
 0                   3                   1       182.4
 1                   3                   2       115.2
 2                   3                   3       177.6
 3                   3                   4       112.0
 4                   3                   5       144.0,
 'df_5':    participant_userId  details.importance  mean_hours
 0                   5                   1  158.857143
 1                   5                   2  132.000000
 2                   5                   3  120.000000
 3                   5                   4   81.000000
 4                   5                   5  136.000000,
 'df_1':    participant_userId  details.importance  mean_hours
 0                   1                   1  133.333333
 1                   1                   2  149.333333
 2                   1                   3  168.000000
 3                   1                   4   96.750000
 4                   1                   5  128.000000,
 'df_2':    participant_userId  details.importance  mean_hours
 0                   2                   1      156.75
 1                   2                   2      142.00
 2                   2                   3      139.20
 3                   2                   4      128.00
 4                   2                   5      132.00,
 'df_4':    participant_userId  details.importance  mean_hours
 0                   4                   1  131.428571
 1                   4                   2  144.000000
 2                   4                   3  136.000000
 3                   4                   4   92.500000
 4                   4                   5  150.000000}

In [113]:
print(type(filtered_users))
filtered_users

<class 'dict'>

{'df_3':    participant_userId  details.importance  mean_hours
 0                   3                   1       182.4
 1                   3                   2       115.2
 2                   3                   3       177.6
 3                   3                   4       112.0
 4                   3                   5       144.0,
 'df_5':    participant_userId  details.importance  mean_hours
 0                   5                   1  158.857143
 1                   5                   2  132.000000
 2                   5                   3  120.000000
 3                   5                   4   81.000000
 4                   5                   5  136.000000,
 'df_1':    participant_userId  details.importance  mean_hours
 0                   1                   1  133.333333
 1                   1                   2  149.333333
 2                   1                   3  168.000000
 3                   1                   4   96.750000
 4                   1                   5  128.000000,
 'df_2':    participant_userId  details.importance  mean_hours
 0                   2                   1      156.75
 1                   2                   2      142.00
 2                   2                   3      139.20
 3                   2                   4      128.00
 4                   2                   5      132.00,
 'df_4':    participant_userId  details.importance  mean_hours
 0                   4                   1  131.428571
 1                   4                   2  144.000000
 2                   4                   3  136.000000
 3                   4                   4   92.500000
 4                   4                   5  150.000000}